.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--font-family-primary), sans-serif;
    background-color: var(--color-main);

    .timerDisplay, .timeFinished {
        font-size: 4rem;
        color: var(--color-second);
    }

    .timerDisplay {
        margin-bottom: 20px;
    }

    .timeFinished {
        height: 50px;
    }
}

@media (max-width: 600px) {
    .timerContainer {
        .timerDisplay, .timeFinished {
            font-size: 2rem;
        }
    }
}
