.controlsContainer {
    display: flex;
    gap: 10px;

    /* Кнопки управления */
    .timerButton {
        padding: 10px 20px;
        font-size: 2rem;
        border: none;
        border-radius: 5px;
        background-color: var(--color-second);
        color: var(--color-main);
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-family: var(--font-family-primary), sans-serif;
        
    }

    .timerButton:hover {
        background-color: var(--color-hover);
    }

    .timerButton:active {
        background-color: var(--color-active);
    }
}

@media (max-width: 600px) {
    .timerButton {
        padding: 8px 16px;
        font-size: 1rem;
    }
}