/* Контейнер для таймера */
.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Дисплей таймера */
.timer-display {
    font-size: 4rem;
    color: #333;
    margin-bottom: 20px;
}


@media (max-width: 600px) {
    .timer-display {
        font-size: 3rem;
    }
 
}
